html, body {
    background-color: aliceblue;
    color: darkblue;
    margin-top: 0;

}

#bigdiv {
    position: absolute;
    left: 10px;
    right: 10px;
    top: 3px;
    margin-top: 0;
}

h2.mb-5{
    margin-outside: 1px;
    height: 15px;
}

h3.my-5{
    padding: 3px;
    height: 10px;
}

.row {
    position: relative;
    border-radius: 4px;
    border: black;
    border-width: thick;

}

#leaveButton {
    position: absolute;
    width: 120px;
    height: 35px;
    background: #85adad;
    color: #004466;
    text-align: -moz-center;
    text-align-all: center;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;;
    top: 10%;
    left: 140%;
    box-shadow: 5px 5px lightblue;
    border-color: darkcyan;
}

#leaveData {
    padding-top: 0;
    padding-left: 30%;
    position: absolute;
    top: 6%;
    left: 175%;
}


#Dhh {
    position: absolute;
    top: 0;
    left: 110%;
    width: 3px;
}

#Dmm {
    position: absolute;
    top: 0;
    left: 180%;
    width: 10px;
}

#Rhh {
    position: absolute;
    top: 33%;
    left: 110%;
    width: 3px;
}

#Rmm {
    position: absolute;
    top: 33%;
    left: 180%;
    width: 10px;
}

#save_trip_btn {
    position: absolute;
    top: 85%;
    left: 130%;
    background: #b3cccc;
    color: #004466;
    border-radius: 10px;
    font-size: 15px;
    font-style: normal;
    box-shadow: 5px 5px lightblue;
    border-color: darkcyan;
}

.my-5{
    padding-top: 2px;
}

.btn-info {
    position: relative;
    box-shadow: 5px 5px lightsteelblue;
    border-radius: 4px;
    padding: 3px;
    background-color: #40798c;
    border-color: #004d39;
}
#update {
    width: 25px;
    height: 25px;
}

.btn-danger {
    position: relative;
    box-shadow: 5px 5px lightsteelblue;
    border-radius: 4px;
    padding: 3px;
    width: 25px;
    height: 25px;
}

.fa-pen-alt {
    position: absolute;
    right: 10%;
}

.fa-trash-alt {
    position: absolute;
    right: 10%;
}

#totalDocs {
    text-align: center;
    display: flex;
    font-size: 16px;
    margin: 20px 2px;
}

#docsValue {
    position: absolute;
    top: 60%;
    left: 210%;
}

#total {
    position: absolute;
    top: 93%;
    left: 210%;
}

#totalExpenseReport{
    font-weight: bold;
    text-align: center;
    color: darkblue;
}

#saveExpReport {
    position: absolute;
    left: 285%;
    top: 96%;
}

#saveExpReportbtn {
    font-weight: bold;
    color: #e6f9ff;
    height: 50px;
}

.table {
    color: darkblue;
    padding: 2px;
    width: 19cm;
}

tr {
    line-height: 15px;
}

@media print {
    #leaveData{
        visibility: visible;
    }

    #saveExpReportbtn, #printBtn, #update, #save_trip_btn, #Dhh, #Dmm, #Rhh, #Rmm, .btn-danger, .btn-info, #thUpdate, #thDelete, #tdUpdate, #tdDelete{
        visibility: hidden;
    }
}

#printBtn{
    position: absolute;
    left: 100%;
    top: 105%;
    box-shadow: 5px 5px lightsteelblue;
    border-radius: 4px;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #00e6e6;
    border-color: #004d39;
}
