<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Expense Reportount </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <!--    <link rel="stylesheet" type="text/css" href="@{/expReport.css}"/>-->
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

</head>
<body>
<div class="container my-5" id="bigdiv">
    <h2 class="mb-5">Expense report </h2>
    <div class="row">
        <div class="col-md-4">

            <form action="#" th:action="@{/add-expenseReport/{id}(id=${expenseReport.id})}" th:object="${expenseReport}"
                  method="post">

                <input type="number" th:field="${expenseReport.id}" id="expReportId" style="display: none">

                <div class="form-group col-md-7">
                    <label for="date" class="col-form-label">Date</label>
                    <input type="date" th:field="*{date}" class="form-control" id="date" placeholder="Date"
                           onblur="saveDate()">
                </div>


                <div class="form-group col-md-8">
                    <label for="advance" class="col-form-label">Advance</label>
                    <input type="number" th:field="*{advance}" class="form-control" id="advance" th:text="${advance}"
                           onblur="saveAdvance()">
                </div>
                <input type="button" id="leaveButton" value="Work trip" onclick="showLeaveInfo('leaveData')">
                <div id="leaveData" style="display: none">
                    <div>
                        Departure date and time: <input type="date" th:field="*{startDate}" id="date1">
                    </div>
                    <div id="Dhh">
                        Hour:
                        <input placeholder="hh" type="number" autocomplete="off"
                               pattern="[0-9]*\s*([aApP][mM])?" maxlength="5" size="3" id="h1" name="h1"
                               title="Please enter the hour of the day as a one or two-digit number that ranges from 00 to 23.&#10; Hour and minute are mandatory for calculating purposes, but they will not be stored" >
                    </div>
                    <div id="Dmm">
                        Minute:
                        <input placeholder="mm" type="number" autocomplete="off"
                               pattern="[0-9]*" maxlength="2" size="3" id="m1" name="m1"
                               title="Please enter the minute of the hour as a one or two-digit number. The valid range is from 0 to 59.">
                    </div>

                    <br>
                    <div>
                        Return date and time: <input type="date" th:field="*{endDate}" id="date2">
                    </div>
                    <div id="Rhh">
                        Hour:
                        <input placeholder="hh" type="number" autocomplete="off"
                               pattern="[0-9]*\s*([aApP][mM])?" maxlength="5" size="3" id="h2" name="h2"
                               title="Please enter the hour of the day as a one or two-digit number that ranges from 00 to 23.&#10; Hour and minute are mandatory for calculating purposes, but they will not be stored">
                    </div>
                    <div id="Rmm">
                        Minute:
                        <input placeholder="mm" type="number" autocomplete="off"
                               pattern="[0-9]*" maxlength="2" size="3" id="m2" name="m2"
                               title="Please enter the minute of the hour as a one or two-digit number. The valid range is from 0 to 59 " onblur="calculateLeaveValue()">
                    </div>
                    Total:<input id="leave-val" type="number" readonly value="0" th:field="*{leaveValue}"><br>

                    <input type="button" value="Save work trip information" onclick="saveLeave()" id="save_trip_btn">
                </div>

                <br>
                <!--                ______________________________________________________________________________________________________-->

                <div th:switch="${tempDocs}" class="container my-5">
                    <div class="col-md-6">
                        <h3 th:case="null">No documents</h3>
                        <div th:case="*">
                            <h3 class="my-5">Documents:</h3>
                            <table class="table table-hover table-responsive-md">
                                <thead>
                                <tr>
                                    <th>Number</th>
                                    <th>Date</th>
                                    <th>Issuer</th>
                                    <th>Value</th>
                                    <th id="thUpdate">Update</th>
                                    <th id="thDelete">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="document : ${tempDocs}">
                                    <td th:text="${document.no}"></td>
                                    <td th:text="${document.date}"></td>
                                    <td th:text="${document.issuer}"></td>
                                    <td th:text="${document.value}"></td>
                                    <td id="tdUpdate"><a th:href="@{/edit-doc/{id}(id=${document.id})}"
                                                         class="btn btn-info"
                                                         id="update"
                                    ><i class="fas fa-pen-alt ml-2"></i></a></td>
                                    <td id="tdDelete"><a th:href="@{/delete-doc/{id}(id=${document.id})}"
                                                         class="btn btn-danger"><i
                                            class="fas fa-trash-alt ml-2"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <p class="my-5"><a th:href="@{/add-document/{id}(id=${expenseReport.id})}" class="btn btn-info"> Add
                    document
                    <i class="fas fa-file-invoice ml-2"></i></a></p>

                <div class="form-group col-md-7" id="docsValue">
                    <label for="totalDocs" class="col-form-label">Total value of documents </label>
                    <input type="number" step="0.01" th:field="*{totalDocs}" class="form-control" id="totalDocs"
                           readonly>
                </div>

                <div class="form-group col-md-7" id="total">
                    <label for="totalExpenseReport" class="col-form-label"><strong>Total expense report </strong></label>
                    <input type="number" step="0.01" th:field="*{total}" class="form-control" id="totalExpenseReport"
                           readonly>
                </div>


                <div class="row" id="saveExpReport">
                    <div class="col-md-10 mt-10">
                        <input type="submit" class="btn btn-info" value="Save expense report" id="saveExpReportbtn">
                    </div>
                </div>
            </form>
        </div>

    </div>
    <input type="button" value="Print" onclick="receipt(); window.print();" id="printBtn">
    <p><a th:href="@{/back_newExp/{id}(id=${expenseReport.id})}" class="arrow-button" id="back"> Back to list</a></p>

    <h4 id="printOnly">Approval signature <br> Head of department<br><br> _____________________ </h4>

    <h6> Receipt : <br>____________________
        <span sec:authentication="name" style="display: none" id="user-name">User</span><br>____________________</h6>
    <div id="toPay" style="display: none"><label>pays back Company</label> <input type="number" id="valToPay"> <br>
    </div>
    <div id="toReceive" style="display: none"><label>receives from Company</label> <input type="number"
                                                                                          id="valToReceive"> <br></div>

</div>


<script>
    function receipt() {
        if (document.getElementById("totalExpenseReport").value < 0) {
            document.getElementById('valToPay').value = -document.getElementById('totalExpenseReport').value;
            document.getElementById('toPay').style.display = 'block';
            document.getElementById('user-name').style.display = 'block';
            document.getElementById('toReceive').style.display = 'none';
        } else {
            document.getElementById('valToReceive').value = document.getElementById('totalExpenseReport').value;
            document.getElementById('toReceive').style.display = 'block';
            document.getElementById('user-name').style.display = 'block';
            document.getElementById('toPay').style.display = 'none';
        }
    }
    function showLeaveInfo(divid) {
        x = document.getElementById(divid).style;
        if (x.display === 'none' || x.display === '') {
            x.display = 'block';
        } else {
            x.display = 'none';
        }
    }
    function calculateLeaveValue() {
        const start = moment(document.getElementById('date1').value)
            .set("hour", document.getElementById('h1').value)
            .set("minute", document.getElementById('m1').value);

        const end = moment(document.getElementById('date2').value)
            .set("hour", document.getElementById('h2').value)
            .set("minute", document.getElementById('m2').value);

        const hours = end.diff(start, "hours");
        document.getElementById('leave-val').value = (parseInt(hours / 24) + parseInt((hours % 24) / 12)) * 50;

        document.getElementById('totalExpenseReport').value = parseFloat(document.getElementById('leave-val').value) +
            parseFloat(document.getElementById('totalDocs').value) - parseFloat(document.getElementById('advance').value);
    };

    function saveLeave() {
        const startD = document.getElementById("date1").value;
        const endD = document.getElementById("date2").value;
        const id = document.getElementById("expReportId").value;
        const leaveVal = document.getElementById("leave-val").value;
        var uri = encodeURI('/save_leave') + `?id=${id}&startD=${startD}&endD=${endD}&leaveVal=${leaveVal}`;

        $.ajax({
            type: 'GET',
            url: uri,
            success: function (text) {
                $(document.getElementById("leave-val")).value = text;
                $(document.getElementById("demo")).text('Response: ' + text);

            },
            error: function (jqXHR) {
                $(document.getElementById("demo")).text('Error: ' + jqXHR + ' y tho??');
            }
        });
    }

    function saveAdvance() {
        const id = document.getElementById("expReportId").value;
        const advance = document.getElementById("advance").value;

        var uri = encodeURI('/save_advance') + `?id=${id}&advance=${advance}`;

        $.ajax({
            type: 'GET',
            url: uri,
            success: function (text) {
                $(document.getElementById("advance")).value = text;
            },
            error: function (jqXHR) {
                $(document.getElementById("demo")).text('Error: ' + jqXHR + ' y tho??');
            }
        });

        document.getElementById('totalExpenseReport').value = parseFloat(document.getElementById('leave-val').value) + parseFloat(document.getElementById('totalDocs').value) - parseFloat(document.getElementById('advance').value);
    }

    function saveDate() {
        const id = document.getElementById("expReportId").value;
        const date = document.getElementById("date").value;

        var uri = encodeURI('/save_date') + `?id=${id}&date=${date}`;

        $.ajax({
            type: 'GET',
            url: uri,
            success: function (text) {
                $(document.getElementById("date")).value = text;
            },
            error: function (jqXHR) {
                $(document.getElementById("demo")).text('Error: ' + jqXHR + ' y tho??');
            }
        });
    }
</script>

<style>
    html, body {
        background-color: aliceblue;
        color: darkblue;
        margin-top: 0;

    }

    #bigdiv {
        position: absolute;
        left: 10px;
        right: 10px;
        top: 3px;
        margin-top: 0;
    }

    h2.mb-5 {
        margin-outside: 1px;
        height: 15px;
    }

    h3.my-5 {
        padding: 3px;
        height: 10px;
    }

    .row {
        position: relative;
        border-radius: 4px;
        border: black;
        border-width: thick;

    }

    #leaveButton {
        position: absolute;
        width: 120px;
        height: 35px;
        background: #85adad;
        color: #004466;
        text-align: -moz-center;
        text-align-all: center;
        border-radius: 10px;
        font-size: 15px;
        font-weight: bold;;
        top: 10%;
        left: 110%;
        box-shadow: 5px 5px lightblue;
        border-color: darkcyan;
    }

    #leaveData {
        padding-top: 0;
        padding-left: 30%;
        position: absolute;
        top: 6%;
        left: 135%;
    }


    #Dhh {
        position: absolute;
        top: 0;
        left: 110%;
        width: 3px;
    }

    #Dmm {
        position: absolute;
        top: 0;
        left: 180%;
        width: 10px;
    }

    #Rhh {
        position: absolute;
        top: 33%;
        left: 110%;
        width: 3px;
    }

    #Rmm {
        position: absolute;
        top: 33%;
        left: 180%;
        width: 10px;
    }

    #save_trip_btn {
        position: absolute;
        top: 85%;
        left: 130%;
        background: #b3cccc;
        color: #004466;
        border-radius: 10px;
        font-size: 15px;
        font-style: normal;
        box-shadow: 5px 5px lightblue;
        border-color: darkcyan;
    }

    .my-5 {
        padding-top: 2px;
    }

    .btn-info {
        position: relative;
        box-shadow: 5px 5px lightsteelblue;
        border-radius: 4px;
        padding: 3px;
        background-color: #40798c;
        border-color: #004d39;
    }

    #update {
        width: 25px;
        height: 25px;
    }

    .btn-danger {
        position: relative;
        box-shadow: 5px 5px lightsteelblue;
        border-radius: 4px;
        padding: 3px;
        width: 25px;
        height: 25px;
    }

    .fa-pen-alt {
        position: absolute;
        right: 10%;
    }

    .fa-trash-alt {
        position: absolute;
        right: 10%;
    }

    #totalDocs {
        text-align: center;
        display: flex;
        font-size: 16px;
        margin: 20px 2px;
    }

    #docsValue {
        position: absolute;
        color: darkblue;
        top: 60%;
        left: 210%;
    }

    #total {
        position: absolute;
        top: 93%;
        left: 210%;
    }

    #totalExpenseReport {
        font-weight: bold;
        text-align: center;
        color: darkblue;
    }

    #saveExpReport {
        position: absolute;
        left: 285%;
        top: 96%;
    }

    #saveExpReportbtn {
        font-weight: bold;
        color: #e6f9ff;
        height: 50px;
    }

    .table {
        color: darkblue;
        padding: 2px;
        width: 19cm;
    }

    tr {
        line-height: 15px;
    }

    #printOnly {
        display: none;
        position: absolute;
        top: 120%;
    }

    @media print {
        #leaveData {
            display: block;
        }

        #printOnly {
            display: block;
        }

        #saveExpReportbtn, #printBtn, #update, #save_trip_btn, #Dhh, #Dmm, #Rhh, #Rmm, .btn-danger, .btn-info, #thUpdate, #thDelete, #tdUpdate, #tdDelete, #back {
            visibility: hidden;
        }
    }

    #printBtn {
        position: absolute;
        left: 100%;
        top: 105%;
        box-shadow: 5px 5px lightsteelblue;
        border-radius: 4px;
        padding: 3px;
        padding-left: 6px;
        padding-right: 6px;
        background-color: #00e6e6;
        border-color: #004d39;
    }

    #back {
        position: absolute;
        color: darkslateblue;
        text-shadow: lightseagreen;
        top: 105%;
    }

</style>
</body>
</html>