<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <title>Expense report</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>

<!--                ______________________________________________________________________________________________________-->
<div id="box">
    <div class="form-group col-md-7">
        <h2 class="my-5">Expense report</h2>
        <table class="table table-hover table-responsive-md" id="ead">
            <thead>
            <tr>
                <th>Date</th>
                <th>Advance</th>
                <th>Work trip (days)</th>
                <th>Total value of documents</th>
                <th>To pay back(-)/To receive (+)</th>

            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${expenseReport.date}"></td>
                <td th:text="${expenseReport.advance}"></td>
                <td th:text="${expenseReport.noOfDays}"></td>
                <td th:text="${expenseReport.totalDocs}"></td>
                <td th:text="${expenseReport.total}"></td>
            </tr>
            </tbody>
        </table>
    </div>


    <div th:switch="${docs}" class="container my-5">
        <div class="col-md-6">
            <div th:case="*">
                <h4 class="my-5">Documents attached</h4>
                <table class="table table-hover table-responsive-md" id="docs">
                    <thead>
                    <tr>
                        <th>Number</th>
                        <th>Document date</th>
                        <th>Issuer</th>
                        <th>Value</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="document : ${docs}">
                        <td th:text="${document.no}"></td>
                        <td th:text="${document.date}"></td>
                        <td th:text="${document.issuer}"></td>
                        <td th:text="${document.value}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   <a onclick="goBack()" id="back" class="arrow-button"> Back to expense reports list</a>
<!--    <a class="arrow-button" onclick="goBack()" id="back"> Back to expense reports list</a>-->
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<style>
    #box {
        background-color: aliceblue;
        color: darkblue;
        padding: 15px 32px;
        font-size: 16px;
        margin: 20px 2px;
        border-color: lightblue;
        width: 1000px;
    }

    #docs {
        padding: 2px;
        width: 15cm;
        background-color: #d1e0e0;
    }

    #ead {
        width: 950px;
        background-color: #d1e0e0;
    }

    tr {
        line-height: 15px;
    }

    #back{
        position: absolute;
        color: darkslateblue;
        text-shadow: lightseagreen;
        top: 10%;
        left: 40%;
    }

</style>

</body>
</html>
