<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">

<head>
    <title> Expense Report Interface </title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>

<img src="favicon.ico"/>
<div sec:authorize="hasAuthority('ADMIN_ROLE')">
    <div class="col-md-6">

        <h4>
            <i class="far fa-user"></i>
            : <span sec:authentication="name">User</span> (Admin) <br>
        </h4>
        <p class="my-5" sec:authorize="isAuthenticated()">
            <a th:href="@{/logout}" class="button" id="logoutAdmin">Logout</a></p>

        <div th:switch="${users}" class="container my-5">
            <div class="col-md-4">
                <div th:case="*">
                    <h3 class="my-4">Users</h3>
                    <table class="table table-hover table-responsive-md">
                        <thead>
                        <tr>
                            <th>User</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.login}"></td>
                            <td><a th:href="@{/see-Exp-reports/{id}(id=${user.id})}" class="btn btn-info"><i
                                    class="fas fa-edit ml-2"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" sec:authorize="hasAuthority('USER_ROLE')">


    <div class="col-md-6">


        <h4>
            <i class="far fa-user"></i>
            : <span sec:authentication="name">User</span><br>

        </h4>
        <p class="my-4" sec:authorize="isAuthenticated()" id="user-logout">
            <a th:href="@{/logout}" class="button" id="logout">Logout</a></p>

        <div th:switch="${userExpenseReports}" class="container my-3" id="table container">
            <div class="row">
                <div class="col-md-6">
                    <p class="my-2" sec:authorize="hasAuthority('USER_ROLE')"><a href="/new-expenseReport"
                                                                                 class="btn btn-info"><i
                            class="fas fa-file-import">Add an expense report </i></a></p>
                    <h4 th:case="null">No expense reports yet </h4>
                    <div th:case="*">
                        <h4 class="my-5">Expense reports</h4>
                        <table class="table table-hover table-responsive-md">
                            <thead>
                            <tr>

                                <th id="date">Date</th>
                                <th>Advance</th>
                                <th>Work trip (days)</th>
                                <th>Total value of documents</th>
                                <th id="eTotal">Total: <br>to pay back (-)<br>or to receive (+)</th>
                                <th>Update</th>
                                <th>Delete</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="expenseReport : ${userExpenseReports}">
                                <td th:text="${expenseReport.date}" id="edate"></td>   <!-- th:date??-->
                                <td th:text="${expenseReport.advance}"></td>
                                <td th:text="${expenseReport.noOfDays}"></td>
                                <td th:text="${expenseReport.totalDocs}"></td>
                                <td th:text="${expenseReport.total}"></td>
                                <td><a th:href="@{/add-expenseReport/{id}(id=${expenseReport.id})}" class="btn btn-info"><i
                                        class="fas fa-edit ml-2"></i></a></td>

                                <td><a th:href="@{/delete-expenseReport/{id}(id=${expenseReport.id})}"
                                       class="btn btn-danger" onmouseover="showWorning('inline-block')"
                                       onmouseout="showWorning('none')"
                                ><i class="fas fa-eraser ml-2"></i></a>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
            <div id="delete_warning" style="display: none">
                <strong>Warning!</strong> Also deletes related documents
            </div>
        </div>
    </div>
</div>

<style>
    #table container {
        position: relative;
    }

    #delete_warning {
        position: absolute;
        padding-top: 10px;
        padding-right: 5px;
        padding-bottom: 10px;
        padding-left: 5px;
        width: fit-content;
        height: fit-content;
        background: lightgoldenrodyellow;

        color: darkblue;
        border-style: groove;
        border-radius: 10px;
        border: 3px darkblue;
        font-size: 15px;
        top: 60%;
        left: 130%;
        box-shadow: 5px 5px lightblue;

    }

    .table {
        background-color: whitesmoke;
        color: darkblue;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
        padding-left: 30px;
        width: 22cm;
    }

    .btn-info {
        box-shadow: 5px 5px lightsteelblue;
        border-radius: 4px;
        border: greenyellow;
        border-width: thick;
        left: 20cm;
        padding: 5px;
    }

    .btn-danger {
        box-shadow: 5px 5px lightsteelblue;
        border-radius: 4px;
        border: greenyellow;
        border-width: thick;
        left: 20cm;
        padding: 5px;
    }

    #logout {
        background-color: lightslategrey;
        color: aliceblue;
        box-shadow: 5px 5px lightsteelblue;
        border-radius: 4px;
        border: greenyellow;
        border-width: thick;
        left: 20cm;
        padding: 10px;
    }

    #user-logout {
        padding-left: 21cm;
    }

    #logoutAdmin {
        background-color: darkcyan;
        color: whitesmoke;
        border-radius: 4px;
        border: black;
        border-width: thick;
        left: 40px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-left: 10px;

    }

    .row {
        padding-left: 5%;
    }

    body {
        background-color: aliceblue;
    }

    h2 {
        width: 10cm;
    }

    #edate {
        width: 4cm;
    }

    #eTotal {
        width: 4cm;
    }


</style>

<script>
    function showWorning(display) {
        document.getElementById('delete_warning').style.display = display;
    }

</script>
</body>
</html>