<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="en">
<head>
    <title>List of expense reports</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>

<a th:text="${userName}" id="userName"> </a> <h4 style="display: inline"> 's expense reports: </h4>
<div th:switch="${expReports}" class="container my-5">
    <div class="col-md-6">
        <div th:case="*">
            <table class="table table-hover table-responsive-md">
                <thead>
                <tr>
                    <th id="date">Date</th>
                    <th>Advance</th>
                    <th>Work trip (days)</th>
                    <th>Total value of documents</th>
                    <th>To pay back(-)/To receive (+)</th>
                    <th>See</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="expenseReport : ${expReports}">
                    <td th:text="${expenseReport.date}" id="edate"></td>   <!-- th:date??-->
                    <td th:text="${expenseReport.advance}"></td>
                    <td th:text="${expenseReport.noOfDays}"></td>
                    <td th:text="${expenseReport.totalDocs}"></td>
                    <td th:text="${expenseReport.total}"></td>
                    <td><a th:href="@{/expenseReport-details/{id}(id=${expenseReport.id})}" class="btn btn-info"><i
                            class="fas fa-edit ml-2"></i></a></td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p><a th:href="@{/back}" class="arrow-button" id="back"> Back to users list</a></p>
</div>

<style>

    #userName {
        color: darkblue;
        font-size: 25px;
        font-style: italic;
        text-decoration: cornflowerblue;
        margin-left: 3%;
    }

    body {
        background-color: aliceblue;
    }

    .table {
        padding: 2px;
        width: 22cm;
        background-color: #d1e0e0;
    }

    #date {
        width: 150px;
    }

    #back{
        position: absolute;
        color: darkslateblue;
        text-shadow: lightseagreen;
        top: 5%;
        left: 80%
    }


</style>
</body>
</html>